<div class="app-auth">
  <form class="container" (submit)="login(user)">
    <div class="label">Username:</div>
    <input class="input" name="username" type="text" [(ngModel)]="user.username" [disabled]="isLoggedIn"/>
    <div class="label">Password:</div>
    <input class="input" name="password" type="password" [(ngModel)]="user.password" [disabled]="isLoggedIn">
    <button class="primary-btn" (click)="login(user)" [disabled]="isLoggedIn">Login</button>
    <span class="error" *ngIf="errorText">{{errorText}}</span>
  </form>
</div>
